.sliding-text-container {
    overflow: hidden;
    width: 50%;
  }
  
  .sliding-text {
    display: inline-block;
    white-space: nowrap;
    animation: slide 10s linear infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  