.nav-container {
  padding: 0 2rem;
  background-color: #ffffff;
  min-height: 3.5rem;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.nav-container ul{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 600px){
  .nav-container{
    width: 100%;
  }
}

